################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserManagementApp/bin/Debug/net7.0
/.vs/UserManagementApp
/UserManagementApp/obj
